/* derived from https://github.com/fsprojects/SQLProvider/blob/gh-pages/content/style.css */

@import url(https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono|Open+Sans:400,600,700);

body {
	font-family: 'Open Sans', serif;
	padding-top: 0px;
	padding-bottom: 40px;
}

pre {
	  word-wrap: inherit;
}

/* Format the heading - nicer spacing etc. */
.masthead {
	overflow: hidden;
}
.masthead .muted a {
	text-decoration:none;
	color:#999999;
}
.masthead ul, .masthead li {
	margin-bottom:0px;
}
.masthead .nav li {
	margin-top: 15px;
	font-size:110%;
}
.masthead h3 {
	margin-bottom:5px;
	font-size:170%;
}
hr {
	margin:0px 0px 20px 0px;
}

/* Make table headings and td.title bold */
td.title, thead {
	font-weight:bold;
}

/* Format the right-side menu */
#menu {
	margin-top:50px;
	font-size:11pt;
	padding-left:20px;
}

#menu .nav-header {
	font-size:12pt;
	color:#606060;
	margin-top:20px;
}

#menu li {
	line-height:25px;
}

/* Change font sizes for headings etc. */
#main h1 { font-size: 26pt; margin:10px 0px 15px 0px; font-weight:400; }
#main h2 { font-size: 20pt; margin:20px 0px 0px 0px; font-weight:400; }
#main h3 { font-size: 14pt; margin:15px 0px 0px 0px; font-weight:600; }
#main p  { font-size: 11pt; margin:5px 0px 15px 0px; }
#main ul { font-size: 11pt; margin-top:10px; }
#main li { font-size: 11pt; margin: 5px 0px 5px 0px; }
#main strong { font-weight:700; }
