root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf

[*.csproj]
insert_final_newline = false

[*.cs]
indent_style = tab
indent_size = 4

# changes from VS2017 defaults
csharp_style_expression_bodied_methods = true:suggestion
csharp_style_expression_bodied_constructors = true:suggestion
csharp_style_expression_bodied_operators = true:suggestion
csharp_prefer_braces = false:none
csharp_indent_switch_labels = false
csharp_space_after_cast = true
csharp_preserve_single_line_statements = false

# use VS2017 defaults, but make them warnings (instead of none)
dotnet_style_qualification_for_field = false:warning
dotnet_style_qualification_for_property = false:warning
dotnet_style_qualification_for_method = false:warning
dotnet_style_qualification_for_event = false:warning
dotnet_style_predefined_type_for_locals_parameters_members = true:warning
dotnet_style_explicit_tuple_names = true:warning
dotnet_style_coalesce_expression = true:warning

# use VS2017 defaults, but make them suggestions (instead of none)
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_elsewhere = true:suggestion
csharp_style_expression_bodied_properties = true:suggestion
csharp_style_expression_bodied_indexers = true:suggestion
csharp_style_expression_bodied_accessors = true:suggestion

# explicitly use VS2017 defaults
dotnet_style_object_initializer = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_null_propagation = true:suggestion
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion
csharp_style_inlined_variable_declaration = true:suggestion
csharp_prefer_simple_default_expression = true:suggestion
csharp_style_throw_expression = true:suggestion
csharp_style_conditional_delegate_call = true:suggestion
dotnet_sort_system_directives_first = true
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_within_query_expression_clauses = true
csharp_indent_case_contents = true
csharp_indent_labels = one_less
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_parentheses = false
csharp_preserve_single_line_blocks = true

dotnet_diagnostic.CA1002.severity = none # Do not expose generic lists.
dotnet_diagnostic.CA1003.severity = none # Use generic event handler instances.
dotnet_diagnostic.CA1008.severity = none # Enums should have zero value.
dotnet_diagnostic.CA1014.severity = none # Mark assemblies with CLSCompliantAttribute.
dotnet_diagnostic.CA1031.severity = none # Do not catch general exception types.
dotnet_diagnostic.CA1032.severity = none # Implement standard exception constructors.
dotnet_diagnostic.CA1062.severity = silent # Validate arguments of public methods.
dotnet_diagnostic.CA1307.severity = silent # Specify StringComparison for clarity.
dotnet_diagnostic.CA1508.severity = silent # Avoid dead conditional code.
dotnet_diagnostic.CA1510.severity = none # Use ArgumentNullException.ThrowIfNull.
dotnet_diagnostic.CA1513.severity = none # Use ObjectDisposedException.ThrowIf.
dotnet_diagnostic.CA1849.severity = none # Call async methods when in an async method.
dotnet_diagnostic.CA1859.severity = silent # Use concrete return types for performance.
dotnet_diagnostic.CA2000.severity = none # Use recommended Dispose pattern.
dotnet_diagnostic.CA2100.severity = none # Review SQL queries for security vulnerabilities.
dotnet_diagnostic.CA2213.severity = silent # Disposable fields should be disposed.
dotnet_diagnostic.CA5398.severity = none # Avoid hardcoded SslProtocols values.
dotnet_diagnostic.IDE0003.severity = silent # Name can be simplified
dotnet_diagnostic.IDE0065.severity = error # Using directives must be placed outside of a namespace declaration.
dotnet_diagnostic.SA1003.severity = none # Operator must not be followed by whitespace.
dotnet_diagnostic.SA1008.severity = none # Opening parenthesis must not be preceded by a space.
dotnet_diagnostic.SA1009.severity = none # Closing parenthesis must not be followed by a space.
dotnet_diagnostic.SA1010.severity = silent # https://github.com/DotNetAnalyzers/StyleCopAnalyzers/issues/3503
dotnet_diagnostic.SA1011.severity = silent # https://github.com/DotNetAnalyzers/StyleCopAnalyzers/issues/3503
dotnet_diagnostic.SA1027.severity = none # Tabs must not be used.
dotnet_diagnostic.SA1101.severity = none # Prefix local calls with this.
dotnet_diagnostic.SA1116.severity = none # Split parameters should start on line after declaration.
dotnet_diagnostic.SA1117.severity = none # The parameters must all be placed on the same line or each parameter must be placed on its own line.
dotnet_diagnostic.SA1122.severity = none # Use string.Empty for empty strings.
dotnet_diagnostic.SA1200.severity = none # Using directives should be placed within a namespace declaration.
dotnet_diagnostic.SA1201.severity = none # A field should not follow a method.
dotnet_diagnostic.SA1202.severity = silent # Public methods should come before private methods.
dotnet_diagnostic.SA1204.severity = silent # Static elements should appear before instance elements.
dotnet_diagnostic.SA1303.severity = none # Const fields should begin with upper-case letter.
dotnet_diagnostic.SA1308.severity = none # Variable names should not be prefixed.
dotnet_diagnostic.SA1310.severity = none # Field name should not contain an underscore.
dotnet_diagnostic.SA1311.severity = none # Static readonly fields should begin with upper-case letter.
dotnet_diagnostic.SA1402.severity = silent # File may only contain a single type.
dotnet_diagnostic.SA1407.severity = none # Arithmetic expressions must declare precedence.
dotnet_diagnostic.SA1408.severity = none # Conditional expressions should declare precedence.
dotnet_diagnostic.SA1500.severity = none # Braces for multi-line statements should not share line.
dotnet_diagnostic.SA1503.severity = none # Braces should not be omitted.
dotnet_diagnostic.SA1513.severity = none # Closing brace should be followed by blank line.
dotnet_diagnostic.SA1516.severity = none # Elements should be separated by blank line.
dotnet_diagnostic.SA1600.severity = none # Elements should be documented.
dotnet_diagnostic.SA1601.severity = none # Partial elements should be documented.
dotnet_diagnostic.SA1602.severity = none # Enumeration items should be documented.
dotnet_diagnostic.SA1611.severity = none # Element parameters should be documented.
dotnet_diagnostic.SA1615.severity = none # Element return value should be documented.
dotnet_diagnostic.SA1618.severity = none # Type parameter documentation is missing.
dotnet_diagnostic.SA1623.severity = none # 	Property summary documentation should match accessors.
dotnet_diagnostic.SA1629.severity = none # Documentation text should end with a period.
dotnet_diagnostic.SA1633.severity = none # File should have header.
dotnet_diagnostic.SA1642.severity = none # Constructor summary documentation should begin with standard text.
dotnet_diagnostic.SA1649.severity = silent # File name should match first type name
