html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 70px;
  margin-bottom: 40px;
}

#navigation {
    margin-top: 20px;
}

#navigation a > i:first-child {
    width: 10px;
    margin-right: 5px;
}

.navbar-mysqlc-logo {
    padding: 10px 0 0 15px;
}

.navbar-mysqlc-logo a {
    color: #777;
    font-size: 18px;
    padding: 0 12px 0 0;
}

.navbar-mysqlc-logo a:hover {
    text-decoration: none;
}

.navbar-mysqlc-gh {
    padding: 14px 15px 0 0;
    text-align: right;
}

.navbar-mysqlc-gh a {
    color: #777;
}

.submenu a {
    background: #f5f5f5;
    border-radius: 0;
}

@media (max-width: 991px) {
    .affix {
        position: static;
    }
}

@media (min-width: 992px) {
    .affix {
        top: 70px;
        position: fixed;
    }
}

@media only screen and (min-width : 992px) {
    #navigation{
        width: 212px;
    }
}

@media only screen and (min-width : 1200px) {
    #navigation{
        width: 262px;
    }
}

.submenu a:hover, .submenu a:active,
.submenu a.active, .submenu a.active:hover, .submenu a.active:active {
    background: #44b5f6;
    border-color: #44b5f6;
    border-radius: 0;
    color: #fff;
}

.submenu a > span {
    margin-left: 20px;
}

#prevNext {
    margin: 20px 0;
}

pre {
    padding: 0;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #f5f5f5;
    border: 1px solid #e7e7e7;
    border-width: 1px 0 0 0;
}

#footerContent {
    color: #777;
    padding: 10px;
    text-align: center;
}

#footerContent a {
    color: #777;
}
