name: "Continuous Integration"

on:
  push:
    branches: [ master, test ]

jobs:
  component-detection:
    name: Component Detection
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - name: Check out repository
      uses: actions/checkout@v5

    - name: Set up .NET
      uses: actions/setup-dotnet@v5

    - name: Restore
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Component detection
      uses: advanced-security/component-detection-dependency-submission-action@v0.1.0

  native-aot:
    name: Native AOT
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tfm: [ 'net8.0', 'net10.0' ]
    services:
      mysql:
        image: mysql:9.4
        env:
          MYSQL_DATABASE: testdb
          MYSQL_ROOT_PASSWORD: pass
        ports:
          - 3306:3306
          # Before continuing, verify the mysql container is reachable from the ubuntu host
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    steps:
      - name: Check out repository
        uses: actions/checkout@v5

      - name: Set up .NET
        uses: actions/setup-dotnet@v5

      - name: Publish
        run: dotnet publish -c Release -r linux-x64 -f ${{ matrix.tfm }} tests/MySqlConnector.NativeAot.Tests/MySqlConnector.NativeAot.Tests.csproj

      - name: Test Native AOT
        run: ./artifacts/publish/MySqlConnector.NativeAot.Tests/release_${{ matrix.tfm }}_linux-x64/MySqlConnector.NativeAot.Tests
